  <!-- 头部 -->
   <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo white-text">CIA预测</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/feelings" class="white-text">利好</a></li>
        <li><a href="/topics" class="white-text">概念</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/feelings">利好</a></li>
        <li><a href="/topics">概念</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>